body{
    display: flex;
    justify-content: center;

}


.pulse-btn {
    background-color: rgb(74, 127, 186);
    padding: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    animation: pulse 1.5s infinite ;
    margin: 30px auto;
    border: none;
    color: white;
}



@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow:  0 0 0 0 rgba(52,152,219,0.7);
    }
    70%{
        transform: scale(1.1);
box-shadow: 0 0 0 15px rgba(52,152,219,0);
    }    
    100% {
        transform: scale(1);
    }
}
