div {
    font-size: 40px;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: 50px;

}
@keyframes bounce {
    0%,  20% , 50% , 80% , 100%  {
       transform:  translateY(0px);
    }
  
    40%  {
        transform:  translateY(-15px);
    }
   
    60% {
transform: translateY(-7px);
    }
    
     
}